.idea
/app/site/wp-admin/
/app/site/wp-includes/
/app/site/index.php
/app/site/license.txt
/app/site/readme.html
/app/site/wp-activate.php
/app/site/wp-blog-header.php
/app/site/wp-comments-post.php
/app/site/wp-cron.php
/app/site/wp-links-opml.php
/app/site/wp-load.php
/app/site/wp-login.php
/app/site/wp-mail.php
/app/site/wp-settings.php
/app/site/wp-signup.php
/app/site/wp-trackback.php
/app/site/xmlrpc.php
/app/site/content/plugins
/app/site/content/cache
/app/site/content/uploads
/app/site/content/upgrade
theme/assets/dist


**/vendor
!theme/assets/src/scss/vendor
**/node_modules
/shared/assets/*