.idea/
# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
web/app/themes/
web/app/upgrade
web/app/uploads/
!web/app/uploads/.gitkeep
web/app/cache/*
**/dist

# WordPress
web/wp
web/app/languages/
web/.htaccess

# Logs
*.log

# Dotenv keep env files since we are a boilerplate project
#.env
.env.*
!.env.example

# Composer
/vendor
!/packages/*/vendor

# NPM
**/node_modules

# WP-CLI
wp-cli.local.yml

#trash
*.sql
