{% block utilities_icon %}

{# dont get how to change the fkn directory, so just move the icons into the views dir   #}
    <span class="icon {{ class }}">
            {{ source('/icons/'~ name ~'.svg', ignore_missing = true) }}
    </span>
{% endblock %}