{% extends 'layouts/base.twig' %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-header__wrapper">
                        <h1 class="main-header__headline bleed--right">404 - Seite nicht gefunden 😞</h1>
                    </div>
                </div>
                <div class="col-12 main-header__copytext">
                    <p>Es scheint, als es die von dir angeforderte Seite nicht gibt.
                    Eventuell findest du auf unserer <a href="/" title="zur Startseite">Startseite</a> die Infos, die du
                        suchst.</p>
                    <p>Oder du stöberst ein wenig in unserem <a href="/blog" title="zum Blog">Blog</a> dort findest alle wichtigen Infos und aktuelle News rund um dein Studium</p>
                </div>
            </div>
        </div>
    {% endblock %}