@font-face {
  font-family: 'JosefinSansLight';
  src: url('../../../fonts/JosefinSansLight.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'AcromBold';
  src: url('../../../fonts/AcromBold.woff2') format('woff2');
  font-display: swap;
  font-weight: bold;
}

h1, .h1 {
  letter-spacing: -1.5px;
}