{#
Title: Icon-Chooser drei Spalten
Description: Erstelle einen Block mit 3 Icons und kurzem Beschreibungstext
Category: media
Icon: smiley
Keywords: icons, iconblock
PostTypes: page
Mode: edit
align: false
#}

<div class="{{ classes }}" data-{{ block.id }}>
    <div class="container">
        <div class="row">
            {% for iconBlock in fields.icon_blocks %}
                <div class="col-12 col-md-4">
                    <div class="icon-chooser__card">
                        {% include 'utils/icon.twig' with {
                            name: iconBlock.icon_name,
                            class: 'icon-chooser__icon'
                        }  %}
                        <div class="icon-chooser__subline">
                            {{ iconBlock.subline }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

