.key-visual {

  min-height: 50vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4rem;

  &__text-container {
    padding: 2rem;
    color: $white;
    background: $primary;
    @include bleed__left($primary);
  }

  &__btn-wrapper {
    margin: 2rem auto 0;
    @include media-breakpoint-up(md) {
      margin-top: auto;
      margin-left: 2rem;
    }
  }

}