{% block header %}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-2"><a href="/" title="zur Startseite">
                    <div class="header__logo">
                        <img alt="RVR.IMMO" title="Logo RVR.IMMO" src="/content/uploads/2021/04/RVR_LOGO_Immo.svg">
                    </div>
                </a></div>
            <div class="col">
                <div class="header__nav">
                    {% include 'partials/header/nav.twig' %}
                    {% include 'partials/header/nav-mobile.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}